# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Environment files
.env
.env.*

# Editor swap files
*.swp
