# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/

# Nuxt content cache/data
.data/

# Vercel
.vercel/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Environment files
.env
.env.*

# Local files
.local/

# Editor swap files
*.swp
*.swo
*.tmp
*~

# Editor directories
.vscode/
.idea/
